/* 
primary-color = #ceddf4
button-color = #408af4
*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: roboto;
}

header{
    background: #ceddf4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

}



.hero-left h1{
    font-size: 150px;
}

.hero-left p{
    font-size: 24px;
    color:#34393f ;
    margin-bottom: 25px;
}

.hero-left button{
    background: #408af4;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    height: 50px;
    width: 200px;
    font-size: 16px;
    /* font-style: oblique; */
    letter-spacing: 2px;
    text-transform: uppercase;
}


.hero-right img{
    height: 500px;
    /* width:  500px; */
}

/* 
units
px 
%
vh -viewport height
vw - viewport width
*/