<footer class="bg-dark p-5" style="color: #fff;">
    <p class="text-center">Copyright &copy; 2021. All Right Reserved</p>
</footer>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>