body {
	font-family: Roboto, Arial, sans-serif;
	color: grey;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar img {
	height: 40px;
}

.navbar ul {
	list-style: none;
}
.navbar ul li {
	display: inline-block;
	margin-right: 50px;
}

.navbar ul li a {
	text-decoration: none;
	color: inherit;
}

p {
}

.featured-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	/*this code keeps our aspect ratio */
}
