* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: roboto, sans-serif;
}

.card {
	width: 300px;
	height: 500px;
	background: url(../img/dubia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.card:hover {
	background-position: center;
}

.card__top-right {
	width: 100px;
	height: 50px;
	background: pink;
	position: absolute;
	top: 10px;
	right: -50px;
}

.card__bottom-left {
	width: 100px;
	height: 50px;
	background: red;
	position: absolute;
	bottom: 0;
	left: 0;
}
